@import "tailwindcss";

:root {
  --base-color: #725b4b;
  --darker-base-color: #5a534b;
}

body {
  font-family: var(--font-buda), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--base-color);
}

h1 {
  font-family: var(--font-jomolhari), Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
}
